<!DOCTYPE html>
<html>
<head>
        <script src="js/js misfunciones.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/gestion/css/flexboxgrid.min.css" />
    <link rel="stylesheet" type="text/css" href="static/gestion/css/estilos.css">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js' type='text/javascript'/>
    <script src="js/js misfunciones.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
    
</head>
<body>
    <header>
        <div class="row center-xs">
                <img src="static/gestion/img/logo.png" alt="logo" valign="left ">
                <div class="col-xs-6 div">
                    <div class="row center-xs div"><br>
                        <div class="col-xs-11  div font">
                            <nav>
                                <td> <a href="#inicio"><b>Inicio</b></a></td>
                                <td> <a href="#Quienes somos"><b>Quienes somos</b></a></td>
                                <td> <a href="#Servicios"><b>Servicios</b></a> </td>
                                <td> <a href="#contactanos"><b>Contactanos</b></a> </td>
								<td> <a href="http://127.0.0.1:8000/bienvenida/"><b>Ingresar</b></a> </td>
							</nav>
							<br>
							

                        </div>
                    </div>
                    
                    
                </div>
        </div>
       
    </header>
    <div class="row center-xs colorOscuro">
        <div class="col-xs-12 slider">
			<ul>
				<li>
                    <img src="static/gestion/img/perro.png" alt="" >
                </li>
				<li>
                    <img src="static/gestion/img/perro2.jpg" alt="">
                </li>
				<li>
                    <img src="static/gestion/img/perro3.jpg" alt="">
                </li>
				<li>
                    <img src="static/gestion/img/perro1.jpg" alt="">
                </li>
			</ul>
		</div>
		<div class="row izquierda">
		<div class="col-xs-12">
			<td> <a href="https://www.facebook.com/people/Mis-Perris/100009889513641"><img src="static/gestion/img/facebook.png" alt=""></a></td>
			<td> <a href="https://www.instagram.com/mis_perris/?hl=es"><img src="static/gestion/img/instagram.png" alt=""></a></td>
			<td> <a href="https://twitter.com/misperretes?lang=es"><img src="static/gestion/img/google-plus.png" alt=""></a> </td>
			<td> <a href="https://twitter.com/misperretes?lang=es"><img src="static/gestion/img/gorjeo.png" alt=""></a></td>
			<br>
			<h6>{{fechaHora}}</h6>
		</div>
	</div>
    </div>
	<footer>
	
			<div class="row">
				<div class="col-xs-12">
					<div class="columna h1" id="todo" >
						<h1>Rescate</h1>
						<p>Etapa 1 <br>_____ <br><br>
						Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los <br>
						preparamos para buscar un hogar</p>
						
						<img src="static/gestion/img/rescate.jpg" alt="" height="150" width="270">
					</div>
				<div class="h12"><img src="static/gestion/img/crowfunding.jpg" alt="" height="200" width="250">
				<h1 class="h12">crowfunding</h1>
				<p>Financiamiento <br>
				_____ <br><br>
				Sigue nuestras redes sociales para informarte acerca de nuestras diversas campañas y <br>
				actividades que realizaremos para obtener Financiamientopara seguir ayudando</p>
				<button class="button">Campañas</button>
				</div>
				
				</div>
			</div>
				
	</footer> 
		
		
	
	
	
    <div class="row center-xs color">
        <div class="col-xs-10 font2">
            <h1>Galería de imágenes de perros rescatados</h1>
	
	<ul class="galeria">
		<li><div class="grow pic"><a href="#img1"><img src="static/gestion/img/perro-galeria.png" class="img-responsive"></a>
		</div></li>
		<li><div class="grow pic"><a href="#img2"><img src="static/gestion/img/polo.jpg" class="img-responsive"></a>
		</div></li>
		<li> <div class="grow pic"> <a href="#img3"><img src="static/gestion/img/perros2_56d11542_800x800.JPG"></a></div></li>
		<li> <div class="grow pic"> <a href="#img4"><img src="static/gestion/img/perro-disco.jpg"></a></div></li>
		<li> <div class="grow pic"> <a href="#img5"><img src="static/gestion/img/perro-collie-corriendo.jpg"></div></a></li>
		<li> <div class="grow pic"> <a href="#img6"><img src="static/gestion/img/proteger-ninos-mordeduras-perros_1_1290928.jpg"></a></div></li>
	</ul>

	<div class="modal" id="img1">
		<h3>Bomi</h3>
		<b> <p class="p">La historia de Bomi repercutio en las redes sociales. <br> Bomi es una preciosa perrita 
		mestiza, que malvivía atada en el sur de nuestro pais. <br> nuestra fundación Mis Perris, consiguió salvar a la perrita 
		y la bautizó como Bomi .
		</p></b>
		<div class="imagen">
			<a href="#img6">&#60;</a>
			<a href="#img2"><img src="static/gestion/img/perro-galeria.png"></a>
			<a href="#img2">></a><font></font>
		</div>
		<a class="cerrar" href="">X</a>
	</div>
	
	<div class="modal" id="img2">
		<h3>Miley</h3>
		<b><p class="p">Miley era una perrita que fue abandonada en un basurero en cerca de Santiago. <br>

			Vivía entre basura y apenas tenía fuerzas para comer. <br> 
			Mostraba temor a los humanos pero en seguida confió en nuestros servicio de 
			rescate de Mis Perris <br> . Tras recibir tratamiento, una familia se encargaron de 
			ella , <br> Dónde Miley y posteriormente su cachorro recibió todo el cariño 
			que se merece.</p></b>
		<div class="imagen">
			<a href="#img1">&#60;</a>
			<a href="#img3"><img src="static/gestion/img/polo.jpg"></a>
			<a href="#img3">></a>
		</div>
		<a class="cerrar" href="">X</a>
	</div>
	
	<div class="modal" id="img3">
		<h3>Polo</h3>
		<b><p class="p">Polo es un perro que fue maltratado por su anterior dueño y 
		no fue criado con mucho amor, <br> sin embargo, gracias a una denuncia anonima
		nuestra fundación Mis Perris tomo <br> medidas legales en este caso para que ese 
		pobre perro dejara de sufrir. Hoy en dia esta muy feliz con su nueva familia <br>
		despues de su rehabilitación.
		</p></b>
		<div class="imagen">
			<a href="#img2">&#60;</a>
			<a href="#img4"><img src="static/gestion/img/perros2_56d11542_800x800.JPG"></a>
			<a href="#img4">></a>
		</div>
		<a class="cerrar" href="">X</a>
	</div>
	
	<div class="modal" id="img4">
		<h3>Apolo</h3>
		<b><p class="p">Apolo es un perro mestizo que fue abandonado por su madre, dado que, <br>
		tenia una rara enfermedad, sin embargo, nuestra fundación Mis Perris alcanzo a rescatar <br>
		a este pobre cachorro, que hoy en dia esta muy feliz con su nueva familia.</p></b>
		<div class="imagen">
			<a href="#img3">&#60;</a>
			<a href="#img5"><img src="static/gestion/img/perro-disco.jpg"></a>
			<a href="#img5">></a>
		</div>
		<a class="cerrar" href="">X</a>
	</div>

	<div class="modal" id="img5">
		<h3>Blanca</h3>
		<b><p class="p">Blanca es una perra Collie que fue encontrada en las cercanias de Maipú <br>
		malherida por un atropello, lamentable mente no pudimos tomar medidas legales con el <br>
		responsable dado que se fue a la fuga, sin embargo, nuestra fundación Mis Perris <br>
		presto ayuda a esta grandiosa perra que finalmente fue acojida felizmente por una familia.</p></b>
		<div class="imagen">
			<a href="#img4">&#60;</a>
			<a href="#img6"><img src="static/gestion/img/perro-collie-corriendo.jpg"></a>
			<a href="#img6">></a>
		</div>
		<a class="cerrar" href="">X</a>
	</div>
	
	<div class="modal" id="img6">
		<h3>Blue Jeans</h3>
		<b><p class="p">Blue Jeans era un perro callejero como cualquier otro, sin embargo, <br>
		tuvo la mala suerte de cruzarse con gente mala, los cuales le tiraron pintura y <br>
		lo lastimaron, un buen samaritano que pasaba por ahí lo vió y <br>
		lo trajo lo mas rapido porsible a nuestra fundación, donde lo bañamos y ayudamos.</p></b>
		<div class="imagen">
			<a href="#img5">&#60;</a>
			<a href="#img1"><img src="static/gestion/img/proteger-ninos-mordeduras-perros_1_1290928.jpg"></a>
			<a href="#img1">></a>
		</div>
		<a class="cerrar" href="">X</a>
	</div>

         </div>
    </div>
</body>
</html>